body,
button,
input,
select,
optgroup,
textarea {
  color: #444;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  color: #32373c;
  clear: both;
}

p {
  line-height: 1.6;
}

.entry-header h1.entry-title {
  font-size: 2.44em;
  line-height: 1.2;
  margin: 20px 0;
  text-align: center;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.archive .site-header {
  margin-bottom: 3.5em;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 1600px;
  background: #f6f8fa;
  /* Fallback for when there is no custom background color defined. */
}

.site {
	width: 1600px;
	margin: 0 auto;
	max-width: 100%;
	background: #fff;
	box-shadow: 0 4px 40px rgba(0,0,0,.1);
	overflow: hidden;
}

blockquote, q {
  quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

hr {
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  border: 1px solid;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1;
  padding: 10px 15px;
  text-decoration: none;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

.button-primary {
  background: $accent_color;
  color: #ffffff;
  border-color: $accent_color;
}

.button-secondary {
  background-color: #FFFFFF;
  color: $accent_color;
  border-color: $accent_color;
  transition: all .25s cubic-bezier(.645,.045,.355,1);

  &:hover {
	background: $accent_color;
	color: #ffffff;
	border-color: $accent_color;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

a {
  color: #333;

  &:visited {
	color: #333;
  }

  &:hover {
	color: $accent_color;
	outline: 0;
  }

  &:focus {
	color: $accent_color;
	outline: thin dotted;
  }

  &:active {
	color: $accent_color;
	outline: 0;
  }


}

b, strong {
  font-weight: bold;
}
